extends layout

block content
    section.jumbotron.text-center
        .container
            p.lead.text-muted
            img(src="https://media.giphy.com/media/LwH4UkAslt49i8qO2r/giphy.gif")
            p
